
body {
	width: 100vw;
	height: 100vh;
}

*{
	margin:0;
	padding:0;
}


.headermain{
	margin-top: 250px;
	font-size: 30pt;
	position: relative;
	font color: #ff0065;
	font-family: 'Abril Fatface', cursive;
	z-index: 100;
	background-color: pink;
	text-align: center;
}
.header{
	font-size: 30pt;
	position: relative;
	font color: #ff0065;
	font-family: 'Abril Fatface', cursive;
	z-index: 100;
	background-color: pink;
	text-align: center;
}


.universe {
	text-align: center;
	margin-top: 10px;
	position: absolute;
   	font-size: 8pt;
   	text-shadow: 0 0 5px black, 0 0 40px #FFFFFF;
   	/*text-shadow: 2px 2px 4px white;*/

}

.universe:hover{
  font-size: 50pt;
  border:1px solid white;
  	z-index: 100;
  	background-color: black;
}
