body{
	background-color: black;
	font-family: "Helvetica Neue", bold;
	color: white;
	font-size: 8pt;
}

.page {
		background: #000;
    	width: 200px;
    	height: 200px;
    	border: 1px solid #DFCAD2;
    	padding: 5px;
    	
	}

.page:hover {

}