body {
    background-color: #E45944;
}


/*
.orange {
  width: 100px;
  height: 100px;
  background: orange;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  transform: translate(-50%,-50%);
}

.orange2 {
  width: 100px;
  height: 100px;
  background: orange;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}*/

#computer {
  width: 300px;
  height: 400px;
  background: #A7A28F;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
}

.screen {
   width: 220px;
  height: 175px;
  background: black;
  top:33%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
    border-radius: 20px;
    padding: 20px; 
}

/*#bottle {
    width: 50px;
    height: 50px;
    background: yellow;
    margin-left: 220px;
    margin-top: 50px;
    border:2px solid black;
}

.ball {
  width: 100px;
  height: 100px;
  background: white;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
*/