html {
  font-size: 30px;
}

body {
  padding: 5px;
  font-weight: bold;
  font-family: 'Helvetica', sans-serif;
  background: white;
}

.container {
  width: 150vw;
  position: relative;
  left: -30vw;
  overflow: hidden;
  z-index: -5;
  color: white;
  font-size: 100pt;
}

.marquee3k {
  padding: 0.2rem 0;
}

.marquee3k__copy {
  padding-right: 0.5rem;
}

.imagejournal{}

    /* unvisited link */
a:link {
    color: red;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: red;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: yellow;
    text-decoration: none;
}

/* selected link */
a:active {
    color: yellow;
    text-decoration: none;
}


.info a p {display:none;}
.info a:hover p {display:inline-block;}


p{
  margin-left: 50%;
  font-family: helvetica, bold;
  font-size: 10pt;
  color: black;
  position: fixed;
}























