
/*body {
	background-image: url("../studio/clock/assets/images/bg.jpg");
}*/

.shark { 
	cursor: auto;
	cursor: url(shark.png);
}


@-webkit-keyframes lefttoright {0%{left:0;} 50%{left:50%;} 100%{left:0;}}

@keyframes lefttoright {0%{left:0;} 50%{left:100%;} 100%{left:0;}}


@-webkit-keyframes righttoleft {0%{right:0;} 50%{right:50%;} 100%{right:0;}}

@keyframes righttoleft {0%{right:0;} 50%{right:100%;} 100%{right:0;}}



.F1 {
top: 10px;
right: -20px;
	position:absolute;
	animation: -webkit-animation: righttoleft 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: righttoleft 30s ease 0s;
    animation-iteration-count:infinite;
    animation-delay: 60s;
}

.F2 {
top: 20px;
left: -20px;
	position:absolute;
	animation: -webkit-animation: lefttoright 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: lefttoright 30s ease 0s;
    animation-iteration-count:infinite;
    animation-delay: 
}

.F3 {
top: 30px;
	position:absolute;
	animation: -webkit-animation: righttoleft 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: righttoleft 30s ease 0s;
    animation-iteration-count:infinite;
}

.F4 {
top: 40px;
	position:absolute;
	animation: -webkit-animation: lefttoright 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: lefttoright 30s ease 0s;
    animation-iteration-count:infinite;
}
.F5 {
top: 50px;
	position:absolute;
	animation: -webkit-animation: righttoleft 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: righttoleft 30s ease 0s;
    animation-iteration-count:infinite;
}
.F6 {
top: 60px;
	position:absolute;
	animation: -webkit-animation: lefttoright 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: lefttoright 30s ease 0s;
    animation-iteration-count:infinite;
}
.F7 {
top: 70px;
	position:absolute;
	animation: -webkit-animation: righttoleft 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: righttoleft 30s ease 0s;
    animation-iteration-count:infinite;
}
.F8 {
top: 80px;
	position:absolute;
	animation: -webkit-animation: lefttoright 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: lefttoright 30s ease 0s;
    animation-iteration-count:infinite;
}
.F9 {
top: 90px;
	position:absolute;
	animation: -webkit-animation: righttoleft 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: righttoleft 30s ease 0s;
    animation-iteration-count:infinite;
}
.F10 {
top: 100px;
	position:absolute;
	animation: -webkit-animation: lefttoright 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: lefttoright 30s ease 0s;
    animation-iteration-count:infinite;
}
.F11 {
top: 110px;
	position:absolute;
	animation: -webkit-animation: righttoleft 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: righttoleft 30s ease 0s;
    animation-iteration-count:infinite;
}
.F12 {
top: 120px;
	position:absolute;
	animation: -webkit-animation: lefttoright 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: lefttoright 30s ease 0s;
    animation-iteration-count:infinite;
}
.F13 {
top: 130px;
	position:absolute;
	animation: -webkit-animation: righttoleft 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: righttoleft 30s ease 0s;
    animation-iteration-count:infinite;
}
.F14 {
top: 140px;
	position:absolute;
	animation: -webkit-animation: lefttoright 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: lefttoright 30s ease 0s;
    animation-iteration-count:infinite;
}
.F15 {
top: 150px;
	position:absolute;
	animation: -webkit-animation: righttoleft 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: righttoleft 30s ease 0s;
    animation-iteration-count:infinite;
}
.F16 {
top: 160px;
	position:absolute;
	animation: -webkit-animation: lefttoright 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: lefttoright 30s ease 0s;
    animation-iteration-count:infinite;
}
.F17 {
top: 170px;
	position:absolute;
	animation: -webkit-animation: righttoleft 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: righttoleft 30s ease 0s;
    animation-iteration-count:infinite;
}
.F18 {
top: 180px;
	position:absolute;
	animation: -webkit-animation: lefttoright 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: lefttoright 30s ease 0s;
    animation-iteration-count:infinite;
}
.F19 {
top: 190px;
	position:absolute;
	animation: -webkit-animation: righttoleft 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: righttoleft 30s ease 0s;
    animation-iteration-count:infinite;
}
.F20 {
top: 200px;
	position:absolute;
	animation: -webkit-animation: lefttoright 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: lefttoright 30s ease 0s;
    animation-iteration-count:infinite;
}
.F21 {
top: 210px;
	position:absolute;
	animation: -webkit-animation: righttoleft 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: righttoleft 30s ease 0s;
    animation-iteration-count:infinite;
}
.F22 {
top: 220px;
	position:absolute;
	animation: -webkit-animation: lefttoright 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: lefttoright 30s ease 0s;
    animation-iteration-count:infinite;
}
.F23 {
top: 230px;
	position:absolute;
	animation: -webkit-animation: righttoleft 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: righttoleft 30s ease 0s;
    animation-iteration-count:infinite;
}
.F24 {
top: 240px;
	position:absolute;
	animation: -webkit-animation: lefttoright 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: lefttoright 30s ease 0s;
    animation-iteration-count:infinite;
}
.F25 {
top: 250px;
	position:absolute;
	animation: -webkit-animation: righttoleft 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: righttoleft 30s ease 0s;
    animation-iteration-count:infinite;
}
.F26 {
top: 260px;
	position:absolute;
	animation: -webkit-animation: lefttoright 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: lefttoright 30s ease 0s;
    animation-iteration-count:infinite;
}
.F27 {
top: 270px;
	position:absolute;
	animation: -webkit-animation: righttoleft 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: righttoleft 30s ease 0s;
    animation-iteration-count:infinite;
}
.F28 {
top: 280px;
	position:absolute;
	animation: -webkit-animation: lefttoright 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: lefttoright 30s ease 0s;
    animation-iteration-count:infinite;
}
.F29 {
top: 290px;
	position:absolute;
	animation: -webkit-animation: righttoleft 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: righttoleft 30s ease 0s;
    animation-iteration-count:infinite;
}
.F30 {
top: 300px;
	position:absolute;
	animation: -webkit-animation: lefttoright 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: lefttoright 30s ease 0s;
    animation-iteration-count:infinite;
}
.F31 {
top: 310px;
	position:absolute;
	animation: -webkit-animation: righttoleft 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: righttoleft 30s ease 0s;
    animation-iteration-count:infinite;
}
.F32 {
top: 320px;
	position:absolute;
	animation: -webkit-animation: lefttoright 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: lefttoright 30s ease 0s;
    animation-iteration-count:infinite;
}
.F33 {
top: 330px;
	position:absolute;
	animation: -webkit-animation: righttoleft 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: righttoleft 30s ease 0s;
    animation-iteration-count:infinite;
}
.F34 {
top: 340px;
	position:absolute;
	animation: -webkit-animation: lefttoright 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: lefttoright 30s ease 0s;
    animation-iteration-count:infinite;
}
.F35 {
top: 350px;
	position:absolute;
	animation: -webkit-animation: righttoleft 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: righttoleft 30s ease 0s;
    animation-iteration-count:infinite;
}
.F36 {
top: 360px;
	position:absolute;
	animation: -webkit-animation: lefttoright 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: lefttoright 30s ease 0s;
    animation-iteration-count:infinite;
}
.F37 {
top: 370px;
	position:absolute;
	animation: -webkit-animation: righttoleft 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: righttoleft 30s ease 0s;
    animation-iteration-count:infinite;
}
.F38 {
top: 380px;
	position:absolute;
	animation: -webkit-animation: lefttoright 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: lefttoright 30s ease 0s;
    animation-iteration-count:infinite;
}
.F39 {
top: 390px;
	position:absolute;
	animation: -webkit-animation: righttoleft 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: righttoleft 30s ease 0s;
    animation-iteration-count:infinite;
}
.F40 {
top: 400px;
	position:absolute;
	animation: -webkit-animation: lefttoright 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: lefttoright 30s ease 0s;
    animation-iteration-count:infinite;
}
.F41 {
top: 410px;
	position:absolute;
	animation: -webkit-animation: righttoleft 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: righttoleft 30s ease 0s;
    animation-iteration-count:infinite;
}
.F42 {
top: 420px;
	position:absolute;
	animation: -webkit-animation: lefttoright 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: lefttoright 30s ease 0s;
    animation-iteration-count:infinite;
}
.F43 {
top: 430px;
	position:absolute;
	animation: -webkit-animation: righttoleft 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: righttoleft 30s ease 0s;
    animation-iteration-count:infinite;
}
.F44 {
top: 440px;
	position:absolute;
	animation: -webkit-animation: lefttoright 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: lefttoright 30s ease 0s;
    animation-iteration-count:infinite;
}
.F45 {
top: 450px;
	position:absolute;
	animation: -webkit-animation: righttoleft 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: righttoleft 30s ease 0s;
    animation-iteration-count:infinite;
}
.F46 {
top: 460px;
	position:absolute;
	animation: -webkit-animation: lefttoright 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: lefttoright 30s ease 0s;
    animation-iteration-count:infinite;
}
.F47 {
top: 470px;
	position:absolute;
	animation: -webkit-animation: righttoleft 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: righttoleft 30s ease 0s;
    animation-iteration-count:infinite;
}
.F48 {
top: 480px;
	position:absolute;
	animation: -webkit-animation: lefttoright 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: lefttoright 30s ease 0s;
    animation-iteration-count:infinite;
}
.F49 {
top: 490px;
	position:absolute;
	animation: -webkit-animation: righttoleft 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: righttoleft 30s ease 0s;
    animation-iteration-count:infinite;
}
.F50 {
top: 500px;
	position:absolute;
	animation: -webkit-animation: lefttoright 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: lefttoright 30s ease 0s;
    animation-iteration-count:infinite;
}
.F51 {
top: 510px;
	position:absolute;
	animation: -webkit-animation: righttoleft 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: righttoleft 30s ease 0s;
    animation-iteration-count:infinite;
}
.F52 {
top: 520px;
	position:absolute;
	animation: -webkit-animation: lefttoright 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: lefttoright 30s ease 0s;
    animation-iteration-count:infinite;
}
.F53 {
top: 530px;
	position:absolute;
	animation: -webkit-animation: righttoleft 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: righttoleft 30s ease 0s;
    animation-iteration-count:infinite;
}
.F54 {
top: 540px;
	position:absolute;
	animation: -webkit-animation: lefttoright 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: lefttoright 30s ease 0s;
    animation-iteration-count:infinite;
}
.F55 {
top: 550px;
	position:absolute;
	animation: -webkit-animation: righttoleft 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: righttoleft 30s ease 0s;
    animation-iteration-count:infinite;
}
.F56 {
top: 560px;
	position:absolute;
	animation: -webkit-animation: lefttoright 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: lefttoright 30s ease 0s;
    animation-iteration-count:infinite;
}
.F57 {
top: 570px;
	position:absolute;
	animation: -webkit-animation: righttoleft 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: righttoleft 30s ease 0s;
    animation-iteration-count:infinite;
}
.F58 {
top: 580px;
	position:absolute;
	animation: -webkit-animation: lefttoright 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: lefttoright 30s ease 0s;
    animation-iteration-count:infinite;
}
.F59 {
top: 590px;
	position:absolute;
	animation: -webkit-animation: righttoleft 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: righttoleft 30s ease 0s;
    animation-iteration-count:infinite;
}
.F60 {
top: 600px;
	position:absolute;
	animation: -webkit-animation: lefttoright 30s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: lefttoright 30s ease 0s;
    animation-iteration-count:infinite;
}

