body {
    filter: grayscale(100%);
}


.swing {
    margin-top: 30px;
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float:left;
    z-index: 1;

}

.swing:after{
    content: '';
    position: absolute;  
    width: 20px; height: 20px;  
    top: -10px; left: 50%;
    z-index: 0;

    transform: rotate(45deg);
}
/* nail */
.swing:before{
    content: '';
    position: absolute;
    width: 5px; height: 5px;
    top: -14px;left: 54%;
    z-index: 5;
}
 
@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    z-index:1;
    height: 100vh;
}

iframe {
    filter: grayscale(100%);
    /*filter: contrast(300%);*/
}

iframe.saturate {
  filter: url("#saturate");
  -webkit-filter: url("#saturate");
}