
/*////////////////////////////////////////////////////////////////////*/

@-webkit-keyframes float {
    0% {
        -webkit-transform: translate(0) scaleX(1);
    }
    0.01% {
        -webkit-transform: translate(0) scaleX(1);
    }
    49.99% {
        -webkit-transform: translate(1600px) scaleX(1);
    }
    50% {
        -webkit-transform: translate(1600px) scaleX(-1);
    }
    50.01% {
        -webkit-transform: translate(1600px) scaleX(-1);
    }
    99.99% {
        -webkit-transform: translate(0) scaleX(-1);
    }
    100% {
        -webkit-transform: translate(0) scaleX(1);
    }
}

.F1 {
    top: 50px;
    left: -150px;
    position:absolute;
    -webkit-animation: float 20s infinite linear;
    -moz-animation: float 20s infinite linear;
    -o-animation: float 20s infinite linear;
    animation: float 20s infinite linear;
}

.F2 {
    top: 130px;
    left: -150px;
    position:absolute;
    -webkit-animation: float 30s infinite linear;
    -moz-animation: float 30s infinite linear;
    -o-animation: float 30s infinite linear;
    animation: float 30s infinite linear;

}

.F3 {
    top: 200px;
    left: -150px;
    position:absolute;
    -webkit-animation: float 24s infinite linear;
    -moz-animation: float 24s infinite linear;
    -o-animation: float 24s infinite linear;
    animation: float 24s infinite linear;

}

.F4 {
    top: 10px;
    left: -150px;
    position:absolute;
    -webkit-animation: float 36s infinite linear;
    -moz-animation: float 36s infinite linear;
    -o-animation: float 36s infinite linear;
    animation: float 36s infinite linear;
 
}

.F5 {
    top: 700px;
    left: -150px;
    position:absolute;
    -webkit-animation: float 40s infinite linear;
    -moz-animation: float 40s infinite linear;
    -o-animation: float 40s infinite linear;
    animation: float 40s infinite linear;
    
}

.F6 {
    top: 650px;
    left: -150px;
    position:absolute;
    -webkit-animation: float 15s infinite linear;
    -moz-animation: float 15s infinite linear;
    -o-animation: float 15s infinite linear;
    animation: float 15s infinite linear;
    
}

.F7 {
    top: 550px;
    left: -150px;
    position:absolute;
    -webkit-animation: float 22s infinite linear;
    -moz-animation: float 22s infinite linear;
    -o-animation: float 22s infinite linear;
    animation: float 22s infinite linear;
    
}

.F8 {
    top: 570px;
    left: -150px;
    position:absolute;
    -webkit-animation: float 32s infinite linear;
    -moz-animation: float 32s infinite linear;
    -o-animation: float 32s infinite linear;
    animation: float 32s infinite linear;
    
}

.F9 {
    top: 250px;
    left: -150px;
    position:absolute;
    -webkit-animation: float 42s infinite linear;
    -moz-animation: float 42s infinite linear;
    -o-animation: float 42s infinite linear;
    animation: float 42s infinite linear;
}

.F10 {
    top: 450px;
    left: -150px;
    position:absolute;
    -webkit-animation: float 33s infinite linear;
    -moz-animation: float 33s infinite linear;
    -o-animation: float 33s infinite linear;
    animation: float 33s infinite linear;
    
}


